

/****************************************************************/
/*                      Basis document styling                  */
/****************************************************************/

*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: capitana, sans-serif;
    font-style: normal;
    font-weight: 100;
    background-color: var(--color-background);
}







/****************************************************************/
/*                  ALGEMENE CUSTOM PROPERTIES                  */
/****************************************************************/ 

:root {
    --color-gradient: linear-gradient(to bottom right, #1E1638, #251357);
    --color-background: #010101; 
    --color-state-active: #EC311A;
    --color-background-darkgray: #1A1A1A;
    --color-light: white;
    --color-dark: black;
    --color-grid: #1F1F1F;
    --color-circle: #282828;
    --color-textvak: #121212;

    --text-color-medium-gray: #999999;
    --text-color-light: #CCCCCC;
    --text-color-hover: #EFA49B;
    --text-color-darkgray: #575757;


    --color-shawow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






/****************************************************************/
/*                       HEADER STYLING                         */
/****************************************************************/ 


header img {
    width: 3.8em;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1.8em;
}

header p {
    color: var(--text-color-medium-gray);
    font-size: .8em;
    text-align: center;
}

header aside {
    margin-left: 2.2em;
}



/*                   NAV STYLING                   */
/***************************************************/ 
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    /* Z index om de header boven andere elementen te zetten */
    z-index: 1;
  
    background-color:var(--color-background);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav section ul {
    list-style-type: none;

    font-size: 2em;
    font-weight: 400;

    margin-top:2em;
    padding-right: 2em;
}

header nav section ul li {
    padding-top: .8em;
}

header nav li.active {
    color: var(--color-state-active);

    font-weight: 600;
}

header nav a {
    color: var(--text-color-light);
    text-decoration: none;
}




/*                NAV BUTTON STYLING               */
/***************************************************/
header button span {
    width: 1.5em;
    height: 3px;
    background-color: var(--color-light);
  
    position: absolute;
    top: 0;
    left: 50%;
  
    /* trucje om het element centered te krijgen */
    transform: translate(-50%);
}
  

header button span:nth-of-type(2){
    top: .5em;
}
  

header button span:nth-of-type(3){
    top: 1em;
}
  

/* dit zorgt ervoor dat de default styling van de button weg gaat */
header button, input[type="submit"], input[type="reset"] {
    color: var(--color-light);
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
  

/* dit zet de button van klap menu rechts */
header button {
    z-index: 2;

    /* position relative ipv absolute zodat de ::before en ::after werken */
    position:relative;

    margin-right: 1.5em;
  
    /* de width en height van de drie streepjes samen */
    width: 1.5em;
    height: 1em;
    color: var(--color-light);
  
    /* background none zodat de button niet meer zichtbaar is */
    background: none;
}

/* dit haalt de standaart nav weg */
header section {
    display:none;
    position:fixed;
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* dit is voor het uitklappen van het menu */   
#menu.toggle  {
    display: block;

    position: fixed;
    top: 0;
    bottom: 20%;
    right: 0;

    padding: 2em;

    background-color: var(--color-background-darkgray);
    color: var(--text-color-light);
    box-shadow: var(--color-shawow);
}


/****************************************************************/
/*              MAIN STYLING         HELLO                      */
/****************************************************************/ 

main.hello>section img {
    width: 60%;
    height: auto;
    
    margin-left: 1em;
    margin-right: 1em;
}

main.hello>section {
    display: flex;

    flex-direction: column-reverse;
    align-items: center;
    
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


main.hello section section {
    color: var(--text-color-light);

    padding: 2em;
    margin-top: 2.8em;
}

main.hello section section h1 {
    font-size: 3.5em;
    margin-bottom: .5em;
}

main.hello section section p {
    margin-left: 4.7em;
}

main.hello section section aside {
    display: flex;
}

main.hello section section aside p {
    margin-left: .7em;
}

main.hello section section aside img {
    width: 2em;
    height: .6em;

    margin-top: .4em;
}






/****************************************************************/
/*              MAIN STYLING          WORK                      */
/****************************************************************/ 
main.work article {
    color: var(--text-color-light);

    padding: 2em;
    margin-top: 5.8em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    display: flex;

    flex-direction: column;
    align-items: center;
}

main.work article h1 {
    font-size: 3.5em;
    margin-bottom: .5em;
}

main.work article aside {
    display: flex;
}

main.work article aside p {
    margin-left: .7em;
}

main.work article aside img {
    width: 2em;
    height: .6em;

    margin-top: .4em;
}

main.work section section {
    background-color: var(--color-grid);
    width: 20em;
    height: 14em;
    padding: 2em;

    border: var(--color-grid) solid 1px;
}

main.work section section.deel1 {
    background-color: var(--color-background);
    border: var(--color-grid) solid 1px;
}

main.work section section img {
    width: auto;
    height: 7.8em;

    margin-top: -1.3em;
}

main.work article:nth-of-type(2) section article:first-of-type {
    margin-top: -3em;
}

main.work section section.deel1 aside {
    display: flex;
    justify-content: space-between;
}

main.work section section.deel1 aside p {
    padding: 1em;
}

main.work section section.deel1 aside p:nth-child(2) {
    margin-top: 0;
    padding: 0;

    font-size: 2em;
    font-weight: bold;

    color: var(--text-color-darkgray);
}

main.work section section.deel2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

main.work section section.deel2 img{
    width: 19em;
    height: auto;

    padding-top: 1.5em;
}

main.work article:nth-of-type(2) section article:first-of-type section:last-of-type img {
    width: 19em;
    height: auto;

    margin-top: -1.8em;
}

main.work article:nth-of-type(2) section article:nth-of-type(3) section:last-of-type img {
    width: 19em;
    height: auto;

    margin-top: -1.7em;
}

main.work article:nth-of-type(2) section article:last-of-type section:last-of-type img {
    width: 17.3em;
    height: auto;
}









/****************************************************************/
/*              MAIN STYLING          ABOUT                     */
/****************************************************************/

main.about>section>picture {
    background-color: var(--color-grid);

    border-radius: 100%;

    width: 17em;
    height: 17em;

    position: relative;
    overflow: hidden;
}

main.about>section picture img {
    width: 55%;
    height: auto;
    
    position: absolute;
    bottom: 0;
    left: 22.5%;

    border-radius: 1.5em 1.5em 0px 0px;
}

main.about>section picture source {
    width: 55%;
    height: auto;
    
    position: absolute;
    bottom: 0;
    left: 22.5%;

    border-radius: 1.5em 1.5em 0px 0px;
}

main.about>section {
    display: flex;

    flex-direction: column-reverse;
    align-items: center;
    
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


main.about section section {
    color: var(--text-color-light);

    padding: 2em;
    margin-top: 2.8em;
}

main.about section section h1 {
    font-size: 3.5em;
    margin-bottom: .5em;
}

main.about section section>p {
    margin-left: 2.7em;
    margin-top: .2em;
    margin-bottom: 4em;
}

main.about section section aside {
    display: flex;
}

main.about section section aside p {
    margin-left: .7em;
}

main.about section section aside img {
    width: 2em;
    height: .6em;

    margin-top: .4em;
}


/*         Hi!           */

main.about article {
    color: var(--text-color-light);
}

main.about>article {
    background-color: var(--color-textvak);

    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 2em;
    padding: 1.8em;
}

main.about>article h2 {
    padding-bottom: .8em;
}

main.about>article p {
    font-size: .8em;
    margin-bottom: 1em;
}

main.about article h3 {
    margin-top: 1em;
}


/*         Persoonlijke informatie           */

main.about article:nth-of-type(2) {
    background-color: var(--color-background);

    margin-bottom: 2em;
}

main.about article:nth-of-type(2)>h2 {
    border-bottom: var(--text-color-medium-gray) 1px solid;

    padding-bottom: 0;
    margin-bottom: 1.5em;
}

main.about article:nth-of-type(2) ul {
    list-style-type: none;

    font-size: .8em;
}

main.about article:nth-of-type(2) ul li {
    display: flex;
    flex-direction: column;

    padding-right: .8em;
    padding-top: .4em;
    padding-bottom: .8em;
}

main.about article:nth-of-type(2) ul:nth-of-type(2) {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    
}

main.about article:nth-of-type(2) ul img {
    width: 3em;
    height: auto;

    margin-left: 1em;
    margin-bottom: .4em;
}

main.about article:nth-of-type(2) p:nth-of-type(4) {
    margin-bottom: 0;
    padding-top: .1em;
}

main.about article:nth-of-type(2) p:nth-of-type(6) {
    margin-bottom: 0;
}

main.about article:nth-of-type(2) p:nth-of-type(7) {
    font-style: italic;
}

main.about article:nth-of-type(2) p:nth-of-type(8) {
    margin-bottom: 0;
}

main.about article:nth-of-type(2) p:nth-of-type(9) {
    font-style: italic;
}

main.about section:nth-of-type(2) article {
    display: block;
    text-align: start;

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.8em;
    padding-left: 20%;
}

main.about section:nth-of-type(2) article:last-of-type {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1.8em;
}

main.about section:nth-of-type(2) article:last-of-type h2 {
    border: none;
}



/*         Werkervaring          */

main.about article:last-of-type section article h2 {
    padding-bottom: 2em;
}

main.about article:last-of-type section article table {
    width: 140%;
    text-align: center;
    margin-left: -3.3em;
    margin-right: 2em;
}

main.about article:last-of-type section article table tr:first-of-type th {
    padding-bottom: 2em;
    font-weight: 800;
    border-bottom: 1px var(--color-light) solid;

    color: var(--color-light);
    background-color: var(--color-dark);
}

main.about article:last-of-type section article table tr {
    font-size: .8em;
    font-weight: 100;

    font-family: capitana, sans-serif;
    font-style: normal;
    font-weight: 100;

    margin-left: auto;
    margin-right: auto;
}

main.about article:last-of-type section article table tr:nth-of-type(even) {
    background-color: var(--color-circle);
}

main.about article:last-of-type section article table tr th {
    padding-bottom: 1em;
    padding-top: .8em;
    margin: .3em;
}



/*         Opleidingen          */

main.about article:last-of-type section article:last-of-type h2 {
    margin-top: 2.5em;
    padding-top: .5em;
    padding-bottom: .8em;

    border: none;
}

main.about article:last-of-type section article:last-of-type aside {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

    border-bottom: 1px var(--text-color-light) solid;
}

main.about article:last-of-type section article:last-of-type aside h4 {
    padding-top: 1em;
}

main.about article:last-of-type section article:last-of-type p {
    padding-top: .4em;
}

main.about article:last-of-type section article:last-of-type p:nth-of-type(2) {
    font-weight: 400;
}

main.about article:last-of-type section article:last-of-type p:nth-of-type(3) {
    font-style: italic;
    margin-bottom: 0;
}

main.about article:last-of-type section article:last-of-type p:nth-of-type(4) {
    font-style: italic;
}




/*         Curriculum Vitae         */

main.about section:nth-of-type(2) {
    color: var(--text-color-lights);

    flex-direction: column-reverse;
}

main.about section:nth-of-type(2) h2 {
    display: flex;
    color: var(--text-color-light);

    margin-top: 1em;
    margin-bottom: .8em;
}

main.about section:nth-of-type(2) section {
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding-top: 0;
    margin-top: 0;
}

main.about section:nth-of-type(2) section a {
    color: var(--color-light);
    text-decoration: none;

    padding: .8em;
    margin: 2em;

    background-color: var(--text-color-medium-gray);
    box-shadow: var(--color-shawow);
    border-radius: 2em;
}

main.about section:nth-of-type(2) section img {
    width: 90%;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}



/****************************************************************/
/*                         Media Query                          */
/****************************************************************/

@media (min-width: 800px) {


/*                   Header                   */
/**********************************************/ 
header {
    display: block;

    margin-left: auto;
    margin-right: auto;
}

header aside img {
    width: 4.5em;
    height: auto;
}

header aside p {
    font-size: .8em;
}



/*           Nav standaard stijling           */
/**********************************************/
header section {
    display: flex;
    position: static;
    justify-content: flex-end;
}


header button {
    display: none;
}


header nav ul {
    display: flex;
    list-style: none;

    justify-content: center;
    align-items: center;

    color: var(--text-color-light);
    font-weight: 400;

    position: fixed;
    bottom: 2.3em;
    left: 50%;
    right: 50%;
}    

header nav ul li {
    margin: 1.2em;
    margin-bottom: 0;

    font-size: .5em;
}

header nav ul li a {
    color: var(--text-color-light);

    text-decoration: none;
}

header nav ul li a:hover {
    transform: scale(2);
    color: var(--text-color-hover);
    text-decoration: underline;
    transition: 1s;
}

header nav li.active {
    color: var(--color-state-active);

    font-weight: 600;
    font-size: .51em;
}



header nav section ul a{
    background-color: var(--color-background);
}



/*                  Main   HELLO                 */
/*************************************************/ 

main.hello>section {
    display: flex;
    justify-content: center;
    flex-direction: row;


    margin-top: 6em;
}

main.hello>section img{
    width: 30em;
    height: auto;
}

main.hello section section:first-of-type {
    margin-top: 2em;
}





/*                   Main   WORK                 */
/*************************************************/ 

main.work {
    display: flex;
    justify-content: space-around;

}

main.work article:nth-child(2)  {
    margin-top: 0;
}

main.work article:last-of-type>section article {
    display: flex;
    flex-direction: row;
}


main.work article:last-of-type>section article:nth-child(even) {
    flex-direction: row-reverse;
    margin-bottom: 0;
}

main article:nth-child(2)>section article {
    margin-top: 0;
    padding: 0;
    padding-bottom: 2.8em;
}

main article:nth-child(2)>section article:first-child {
    margin-top: 8em;
}

main.work section article section.deel2{
    padding: 0;
    margin: 0;
}

main.work article:nth-of-type(2) section article:last-of-type {
    margin-bottom: 7em;
}

main.work article:nth-of-type(2) section article:first-of-type {
    margin-top: 9em;
}



/*                   Main   About                */
/*************************************************/ 

main.about>article {
    width: 40em;
}

main.about article:nth-of-type(2) ul:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    text-align: center;

    margin-left: 1em;
    padding-top: 1em;
    padding-bottom: .7em;
}

main.about article:nth-of-type(2) ul img {
    width: 3em;
    height: auto;

    margin-left: auto;
    margin-right: auto;
}

main.about article:last-of-type section article table {
    width: 100%;
}

main.about article:nth-of-type(3) {
    margin-bottom: 10em;
}

main.about article:nth-of-type(3) section article:last-of-type aside{
    padding: 1em;
}

main.about section:nth-of-type(2) {
    margin-bottom: 6em;
}

main.about section:nth-of-type(2) h2 {
    margin-bottom: 2.2em;
}

main.about section:nth-of-type(2)>section {
    flex-direction: row;
}

main.about section:nth-of-type(2)>section img {
    width: 25em;
    height: auto;
}

main.about section:nth-of-type(2)>section a {
    margin-bottom: auto;
    padding: 2em;

    text-align: center;
}

main.about section:nth-of-type(2) section a:hover {
    color: var(--color-state-active);
    background-color: var(--color-textvak);
    font-weight: 600;
    font-size: 2em;

    transition: 1s;
}

main.about section:nth-of-type(2) section a:focus {
    color: var(--color-state-active);
    background-color: var(--color-textvak);
    font-weight: 600;
    font-size: 2em;

    transition: 1s;
}


/****************************************************************/
/*                      Media Query       500                   */
/****************************************************************/

@media (min-width: 500px) { 

    main.about article:last-of-type section article table {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }


}

